.page {
    display: flex;
    background: #d3d3d3;
    width: 100vw;
    height: 100vh;
}

.square {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}
.inner {
    display: flex;
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}
.small {
    display: flex;
    background: #000;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
} 




.square2 {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}
.inner2 {
    display: flex;
    background: #000;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}
.small2 {
    display: flex;
    background: #fff;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}




.square3 {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}
.inner3 {
    display: flex;
    background: #fff;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.line {
    width: 2.112vw;
    height: 42.857143vh;
    margin: auto;
    background: #000;
}

.linefirst {
    width: 2.112vw;
    height: 42.857143vh;
    margin: auto;
    background: #000;
    margin-left: 0;
}

.linelast {
    width: 2.112vw;
    height: 42.857143vh;
    margin: auto;
    background: #000;
    margin-right: 0;
}

.step-2{
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 80vw;
    height: 80vh;
}

body{
    background: #d3d3d3;
}
    